{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block stylesheets %}
    {# Cargamos el CSS personalizado para el login #}
    <link rel="stylesheet" href="{{ asset('css/styleLogin.css') }}">
{% endblock %}

{% block body %}

    <header>
        {# Usamos 'home' porque así se llama la ruta en tu PageController #}
        <a href="{{ path('home') }}">
            <img src="{{ asset('assets/img/logoIcon.webp') }}" alt="Logo" class="logoIcon">
        </a>
    </header>

    <main>
        <div class="login-container">
            <h2 class="login-title">Bienvenido</h2>

            <form method="post">
                {# Mensaje de Error #}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {# Mensaje si ya hay sesión iniciada #}
                {% if app.user %}
                    <div class="alert alert-info">
                        Ya estás logueado como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                    </div>
                {% endif %}

                {# Input Email #}
                <div class="form-group">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-input" autocomplete="email" required autofocus placeholder="tucorreo@ejemplo.com">
                </div>

                {# Input Password #}
                <div class="form-group">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" name="_password" id="inputPassword" class="form-input" autocomplete="current-password" required placeholder="********">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn-login" type="submit">
                    Entrar
                </button>

                {# --- NUEVO BLOQUE: ENLACE AL REGISTRO --- #}
                <div style="margin-top: 20px; text-align: center; color: #fff; font-size: 0.9rem;">
                    ¿No tienes cuenta? <a href="{{ path('app_register') }}" style="color: #c2b46c; text-decoration: underline;">Regístrate aquí</a>
                </div>

            </form>
        </div>
    </main>

    <footer>
        Game Hub &copy; 2025-2026
    </footer>

{% endblock %}